// Comentario en SASS
$color-primary: #F1F1F1;
$color-secondary: #c42323;

body {
    background-color: $color-primary;
}

.header {
    height: 10vh;
    background-color: $color-secondary;

    display: flex;
    justify-content: center;
    align-items: center;

    .header__div {
        height: 100%;
        width: 3em;
        color: $color-primary;
        padding: 10px;
    }
}