
a {
    text-decoration: none;
    color: inherit; 
}


.container {
    height: 100vh; /*vertical */
    /*Cambios*/
    margin: 10px;
    padding: 10px;
    overflow: auto;

    background-color: black;
}

.divCabecera {
    height: 100px;
    margin: 10px;

    background-color: aqua;
}

.divPrincipal {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*1 fracción, o 1 parte del TODO en el que está contenido*/
    height: 100%;
    margin: 10px;

    background-color: brown;
}

.zonaNavegacion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-color: blue;
}

.zonaNavegacion div {
    width: 1fr;
    min-height: 50px;
    height: auto;
    margin: 5px;
    padding-left: 5px;

    border-radius: 6px;

    background-color: chartreuse;
}

.zonaNavegacion div:hover {

    background-color: rgb(81, 160, 2);

}



