<form class="main__contact-form" action="">
    <div class="contact-form__box">
        <input class="box__input-field" type="text" id="fNombre" required />
        <label class="box__label" for="fNombre">Nombre</label>
    </div>

    <div class="contact-form__box">
        <input class="box__input-field" type="text" id="fApellidos" required />
        <label class="box__label" for="fApellidos">Apellidos</label>
    </div>

    <div class="contact-form__box">
        <input class="box__input-field" type="text" id="fEmail" required />
        <label class="box__label" for="fEmail">Email</label>
    </div>

    <div class="contact-form__box">
        <textarea class="box__input-field--text-area" id="fMotivo"></textarea>
        <label class="box__label" for="fMotivo">Motivo contacto</label>
    </div>
    
    <div class="contact-form__box--buttons">
        <button class="buttons__send" type="submit">Enviar</button>
        <button class="buttons__reset" type="reset">Borrar</button>
    </div>
</form>