<form class="main__formularioContacto" action="">

    <div class="formularioContacto__groupPassword" role="region">
        <label for="input__nombre" id="label__nombre" aria-label="input__nombre">Nombre</label>
        <input type="text" name="input__nombre" id="input__nombre" aria-labelledby="label__nombre">
    </div>
    <div class="formularioContacto__groupNombre" role="region">
        <label for="input_passsword" id="label_password" aria-label="input_passsword">Password</label>
        <input type="password" id="input_passsword" name="input_passsword" required aria-labelledby="label_password"
            aria-required="true">
    </div>
    <div class="formularioContacto__groupBotonera" role="region">
        <button type="submit" disabled aria-disabled="true">Enviar</button>
    </div>

</form>