<div class="main__picture">
     <picture>
          <source type="image/webp" srcset="./assets/images/fondo_landing_1-1.webp" />
          <source type="image/jpg" srcset="./assets/images/fondo_landing_1.jpg" />
          <img class="img" src="./assets/images/fondo_landing_1.png" alt="prueba" srcset="./assets/images/fondo_landing_1.png" />
     </picture>
</div>

<section class="main__tabs">
     <div role="region" class="tabs__botonesTab">
          <div role="button" class="botonesTab__pestanya">¿Quines somos?</div>
          <div role="button" class="botonesTab__pestanya">Nuestra Misión</div>
          <div role="button" class="botonesTab__pestanya">Nuestros Principios</div>
     </div>

     <div role="region" class="tabs__contenedorTexto">
          <div tabindex="0" class="contenedorTexto__bloque">Texto 1</div>
          <div tabindex="0" class="contenedorTexto__bloque">Texto 2</div>
          <div tabindex="0" class="contenedorTexto__bloque">Texto 3</div>
     </div>
</section>

<section class="main_acordeon">

     <div class="acordeon__divContenedor">
          <h2 class="divContenedor__titulo">Titulo 1</h2>
          <p class="divContenedor__contenido"><b>Lorem10_1</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nam alias quisquam. Eveniet fuga quo earum, itaque, exercitationem praesentium, nesciunt consectetur facere nam officiis perferendis minima dolores voluptatem atque commodi?</p>
     </div>
     <div class="acordeon__divContenedor">
          <h2 class="divContenedor__titulo">Titulo 2</h2>
          <p class="divContenedor__contenido"><b>Lorem10_2 </b> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, placeat.</p>
     </div>


</section>
