@import url("stylesDesktop.css");
@import url("stylesPortatil.css");
@import url("stylesMovil.css");

body {
  margin: 0;
}

.zonaArticulos__articulo {
  min-height: 20vh;
  background-color: brown;
}
.zonaArticulos__articulo--rojo {
  min-height: 20vh;
  background-color: red;
}
.zonaArticulos__articulo--verde {
  min-height: 20vh;
  background-color: green;
}
