@media all and (min-width: 0px) and (max-width: 360px) {
  .container {
    background-color: pink;
  }

  .container__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
  }

  .grid__zonaArticulos {
    grid-column: 1/13;
    min-height: 20vh;
    background-color: blue;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}
