.container {
  min-height: 100vh;
  background-color: black;
}

.container__grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

.grid__zonaArticulos {
  grid-column: 3/11;
  min-height: 20vh;
  background-color: blue;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

