.index__main {
    

    .main__picture {

        overflow: hidden;
        max-height: 80vh;

        img {
            width: 100%;
            height: auto;
                    
        }

    }

}