.index__main {
    

    .main__picture {

        overflow: hidden;
        max-height: 90vh;

        img {
            width: 100%;
            height: auto;   
        }

        video {
            width: minmax(60%, 100%);
        }
    }


}