
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Open+Sans:wght@800&family=Roboto&family=Roboto+Slab:wght@300&display=swap');


/* Estilos adicionales para el contenido de tu página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: black;
  /* Otros estilos de tu elección para el contenido de tu página */
}

p {
  font-family: 'Croissant One', 'Roboto Slab', serif;
}

h1, h2, h3, h4 {
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

/*Zona header, la hago de altura 10vh (10% del viewport height)*/
nav {

  height: 15vh;
  width: 100%;
  background-color: rgba(223, 223, 223, 0.432);
  
  
  position: fixed; 
  /*
  position fixed para que se quede siempre en el mismo sitio, es decir, para conseguir un efecto sticky.
  He probado con "position: sticky", pero eso cambiaba el posicionamiento del resto de elementos, más o menos de igual manera que el 
  el relative vs el absolute
  */
}

/*ZONA DEL TITULO*/
.divTitulo {
  /*Le doy un tamaño al div que contendrá el título*/
  height: 100%;
  width: auto;
  position: absolute;

  /*Esto centra el divCaja en el nav. Dicho con otras palabras, centra la caja */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /*Esto centra el contenido dentro del divCaja. Dicho con otras palabras, centra el contenido de la caja*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  /*Le doy algunos retoques estéticos de cara al hover*/
  border-radius: 10px;

  transition: 0.2s ease-in;
}

.divTitulo span {
  transition: 0.2s ease-in;

}

.divTitulo:hover {
  filter: blur(1px);
  cursor: pointer;
}

.divTitulo:hover span {
  color: red;
}



/*ZONA DEL MENU*/
.divMenu {

  height: 100%;
  width: 100px;
  position: absolute;

  left: auto;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

  transition: 0.2s ease-out;

}

.divMenu span {

  width: 30px;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(24, 24, 24);

}

.divMenu span:nth-child(2) {
  margin-left: 4px;
  width: 20px;
}

.divMenu:hover {
    gap: 2px;
    cursor: pointer;
}

.divMenu:hover span:nth-child(2) {
  background-color: rgb(252, 71, 71);
}





/*ZONA DEL CONTENIDO*/
.zContenido {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /*grid-template-rows: 20vh auto;*/ /*En este caso opto por no poner varias filas, sólo pongo un grid para la zona del contenido*/
}

.content {
  grid-column: 1 / 13;
}

.imagen1 {
  background-image: url("images/imagen1.jpg"); /* Ruta a tu imagen de fondo */
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.imagen2 {
  background-image: url("images/imagen2.jpeg"); /* Ruta a tu segunda imagen */
  background-size: cover;
  background-position: center;
  height: 100vh;
}
